body{
    height: 100vh;
    background-image: url(../images/background.jpg);
    background-size: cover 100%;
    background-repeat: no-repeat;
    overflow:hidden;
}

#formulario{
    background-color: #0a0a0a;
    border-radius: 15px;
    width: 60%;
    height: auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 15px;
    opacity: 100%;
    padding-bottom: 1%;
    font-family: articulat-cf, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.escritas{
    color: #f7f7f7;
    line-height: 125%;
    font-size: 24px;
}

#botao{
    color: #f7f7f7;
    background-color: #8363CF;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 10px;
    padding-bottom: 8px;
    border-radius: 15px;
    font-size: medium;
    cursor: pointer;
}

input{
    background-color: #0a0a0a;
    border-top: none;
    border-right: none;
    border-left: 100%;
    border-bottom: 100%;
    border-bottom-left-radius: 15px;
    border-color: #8363CF;
    width: 95%;
    color: #f7f7f7;
    padding-left: 10px;
}

textarea{
    background-color: #0a0a0a;
    border-top: none;
    border-right: none;
    border-left: 100%;
    border-bottom: 100%;
    border-bottom-left-radius: 15px;
    border-color: #8363CF;
    width: 95%;
    resize: none;
    color: #f7f7f7;
    font-family: articulat-cf, sans-serif;
    font-weight: 400;
    font-style: normal;
    max-lines: 30;
    height: 350px;
    padding-left: 10px;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
 
.logo{
    height: 50px;
    float: left;
    margin-left: 5%;
 
}
 
ul li a{
    font-family: mundial, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 25px;
    color: #f7f7f7;
    text-decoration: none;
}
 
header{
    background-color: #0a0a0a;
    margin-top: -20px;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 20px;
    height: 80px;
    align-content: center;
}
 
.ativo{
    color: #8363CF;
}
 
.rodape{
    font-family: articulat-cf, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #f7f7f7;
    text-align: center;
    background-color: #0a0a0a;
    position: fixed;
    margin-left: -10px;
    margin-right: -10px;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    bottom: 0px;
}