body{
    background-color: #0a0a0a;
    overflow-x: hidden;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
 
.logo{
    height: 50px;
    float: left;
    margin-left: 5%;
 
}
 
ul li a{
    font-family: mundial, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 25px;
    color: #f7f7f7;
    text-decoration: none;
}
 
header{
    background-color: #0a0a0a;
    margin-top: -20px;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 20px;
    height: 80px;
    align-content: center;
}
 
.ativo{
    color: #8363CF;
}
 
.rodape{
    font-family: articulat-cf, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #f7f7f7;
    text-align: center;
    background-color: #0a0a0a;
    position: absolute;
    margin-left: -10px;
    margin-right: -10px;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.descricao{
    width: 20%;
}

.arquivos{
    font-family: articulat-cf, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: medium;
    color:#f7f7f7;
}

.midia{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 2%;
}